<table mat-table [dataSource]="values" class="mat-elevation-z8">
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <div *ngIf="!element.values">
        {{ getIndex(element, i) }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="values">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.values">
        <data-table [values]="element.values"></data-table>
      </div>
      {{ element.value }}
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
